<div class="main-container mt-5">
  <div class="row">
    <div class="offset-sm-1 col-sm-10 offset-sm-1 topic-name text-center h-100">
      <div class="what">
        <h1>What is こだわLink ??</h1>
        <h3 class="text-center pt-5">
          <span class="far fa-hand-point-right"></span>
          <span class="far fa-heart"></span>
          <span class="far fa-hand-point-left"></span>
        </h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="offset-sm-5 col-sm-2 offset-sm-5 about">
      <p>
        あなたの大切なこだわりで<br>
        繋がるSNS
      </p>
      <p>
        周りからは理解されにくい<br>
        "こだわり"も<br>
        大切な自分のColor
      </p>
      <p>
        誰かが<br>
        あなたのこだわりを<br>
        求めています
      </p>
      <p>
        そして,<br>
        そのこだわりで<br>
        もっと自分を好きになってください。
      </p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="offset-sm-1 col-sm-10 offset-sm-1 topic-name text-center h-100">
      <div class="howto">
        <h1>How to ??</h1>
        <h3 class="text-center pt-5">
          <span class="far fa-hand-point-right"></span>
          <span class="far fa-heart"></span>
          <span class="far fa-hand-point-left"></span>
        </h3>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-4">
      <div class="howto h-100">
        <h2 >0, こだわりRoom</h2>
        <span class="howto_box fas fa-person-booth fa-7x"></span>
        <p>検索可能なテーマごとの<br>
        「こだわり部屋」があります。<br>
          もちろん, <br>
          自分で好きな新しいお部屋を作ることもできます!!
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="howto h-100">
        <h2>1, Bravo !!</h2>
        <span class="howto_box fas fa-hiking fa-7x"></span>
        <p>探究心がすごい !!<br>
          参考になった !!<br>
          投稿に心からの<br>
          Bravo!!を贈りましょう
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="howto h-100">
        <h2>2, Connect Message</h2>
        <span class="howto_box far fa-envelope fa-7x"></span>
        <p>こだわりさんと<br>
          もっとつながりたい時は<br>
          Connect Messageへ<br>
        </p>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="offset-sm-1 col-sm-10 offset-sm-1 topic-name text-center h-100">
      <div class="Share-Link">
        <h1>Share & Link </h1>
        <h3 class="text-center pt-5">
          <span class="far fa-hand-point-right"></span>
          <span class="far fa-heart"></span>
          <span class="far fa-hand-point-left"></span>
        </h3>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="offset-sm-4 col-sm-3 share-box">
      <span>
        法人登録のこだわりさんには<br>
        企業マークがついています。<br>
        Cennect Messageが届いても<br>
        安心してくださいね。<br>
        あなたのこだわりを待っています。
      </span>
    </div>
    <div class="col-sm-4">
      <span class="fas fa-building fa-10x"></span>
    </div>
  </div>
  <div class="row mt-5">
    <div class="offset-sm-1 col-sm-10 offset-sm-1 topic-name text-center h-100">
      <div class="Share-Link">
        <h1>Enter Your... !! </h1>
        <h3 class="text-center pt-5">
          <span class="far fa-hand-point-right"></span>
          <span class="far fa-heart"></span>
          <span class="far fa-hand-point-left"></span>
        </h3>
        <h5 class="pb-5">
          <%= link_to "Sign up", new_user_registration_path, class:"btn btn-outline-secondary btn-lg" %>
        </h5>
        <p>ポートフォリオ(閲覧用)のゲストログインはこちらからお願い致します。</p>
        <h5>
        　<%= link_to "Guest Log In", users_guest_sign_in_path, method: :post, class:"btn btn-outline-secondary btn-lg" %>
        </h5>
      </div>
    </div>
  </div>
