<div class="row justify-content-center mt-5">
  <div class="topic-name">
    <h1>What is こだわLink ??</h1>
    <h6 class="text-center pt-5">
      <i class="far fa-hand-point-right"></i>
      <i class="far fa-heart"></i>
      <i class="far fa-hand-point-left"></i>
    </h6>
  </div>
</div>
<div class="row justify-content-center mt-5">
  <div class="col-xs-12 about">
    <p class="text-center">
      あなたの大切なこだわりで繋がるSNS
    </p>
    <p class="text-center">
      こだわりに関する企業と繋がるSNS
    </p>
    <p class="text-center">
      周りからは理解されにくい"こだわり"も大切な自分のColor
    </p>
    <p class="text-center">
      誰かがあなたのこだわりを求めています
    </p> 
    <p class="text-center">そして,</p>
    <p class="text-center">
      そのこだわりでもっと自分を好きになってください。
    </p>
  </div>
</div>
<div class="row justify-content-center mt-5">
  <div class="topic-name">
    <h1>How to ??</h1>
    <h6 class="text-center pt-5">
      <i class="far fa-hand-point-right"></i>
      <i class="far fa-heart"></i>
      <i class="far fa-hand-point-left"></i>
    </h6>
  </div>
</div>
<div class="row justify-content-center mt-5">
  <div class="col-xs-12 howto>
    <h2>1, こだわりRoom  
      <i class="fas fa-person-booth"></i>
    </h2>
    <p>検索可能なテーマごとの「こだわり部屋」があります。
      もちろん, 自分で好きに新しいお部屋を作ることもできます!!
    </p>
    <h2>2, Bravo !! 
      <i class="fas fa-hiking"></i> 
    </h2>
    <p>
      
    </p>
  </div>
</div>