<div class="container">
  <div class="jumbotron">
    <h2 class="display-4">こだわりで</h2>
    <p class="lead"></p>
    <hr class="my-4">
    <p>そのこだわりで自分をもっと好きになる</p>
    <h1 class="display-5">つながる</h1>
  </div>
</div>

<%= link_to 'ゲストログインはこちら', users_guest_sign_in_path, method: :post %>
