<div class="jumbotron mt-0 mb-0">
  <div class="container">
    <h1 class="display-4 telop">Link</h1>
    <span class="sub-telop">Love Yourself </span><br>
    <span class="sub-telop">Others Will Need You</span>
    <h1 class="display-5 telop">With Your.."Codawari"</h1>
    <div class="link_btn mt-5">
      <h5>
         \<%= link_to "Sign up", new_user_registration_path, class:"btn btn-light btn-lg" %>/
      </h5>
      <h5>
      　\<%= link_to "Guest Log In", users_guest_sign_in_path, method: :post, class:"btn btn-light btn-lg" %>/
      </h5>
    </div>
  </div>
</div>