<div class="row justify-content-center mt-5">
  <div class="topic-name">
    <h1>Connect Messages</h1>
    <h6 class="text-center pt-5">
      <span class="far fa-hand-point-right"></span>
      <span class="far fa-heart" style="color: red;"></span>
      <span class="far fa-hand-point-left"></span>
    </h6>
  </div>
</div>

<div class="row mt-5">
  <div class="offset-sm-3 col-sm-6">
    <div class="border border-warning rounded ">
      <table class="table table-hover">
        <% @anotherEntries.each do |e| %>
          <tr>
            <td>
              <%= link_to connect_path(e.connect.id) do %>
                <%= attachment_image_tag(e.user, :avatar, size: "60x60", class:"rounded-circle", fallback: "no_image.png") %>
                <% if e.user.classification == "法人" %>
                  <span class="fas fa-building" style="color: green;"></span>
                <% end %>
                <%= e.user.name %>さん<br>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
     <%= paginate @anotherEntries %>
  </div>
</div>
