<% commitments.each do |commitment| %>
  <div class="col-sm-4 box-commitment">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="font-weight-normal">
            <%= commitment.room_name %>
          </h4>
        </div>
        <div class="card-body">
          <h6>Knock !!</h6>
          <h1 class="card-title pricing-card-title"><i class="fas fa-door-open"></i></h1>
            <%= link_to "Enter your .. !!", commitment_path(commitment.id), class:"btn btn-outline-secondary btn-lg btn-block" %>
        </div>
      </div>
    </div>
  </div>
<% end %>