<div class="col-xs-12">
  <div class="post_box">
    <p>
      <% link_to user_path(@post.user) do %>
        <%= attachment_image_tag(@post.user, :avatar, fill, 60, 60, fallback: "no_image.png") %>
        <%= @post.user.name %>
      <% end %>
    </p>
    <p>
      <%= @post.content %>
      <%= attachment_image_tag(@post.image, :image, fill, 100, 100) %>
    </p>
  </div>
</div>