// Place all the styles related to the Commitments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.room_name {
  font-size:18px;
  font-family:'Comic Sans MS',cursive;
}

.form_search {
  font-size:18px;
  font-family:'Comic Sans MS',cursive;
}

.post_user {
  font-size:10px;
}

.posting .col-sm-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.posting .col-sm-4 p {
  font-family:'Comic Sans MS',cursive;
  margin-right: .75rem;
  margin-left: .75rem;
}

.box-commitment {
  font-family:'Comic Sans MS',cursive;

}